* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background: #f6f3ec;
  color: #222;
  line-height: 1.8;
}

button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}